---
layout: default
---

<div class="home">
  <!-- Sale section: comment out when not active -->
  <p>
  We invite you to join us at the <strong>MALIHINI ORCHID SOCIETY 2020 ORCHID SALE & CULTURE DEMONSTRATIONS!</strong>  You and your family can have fun looking at beautiful orchids, listening to our speakers (outside) show you HOW & most importantly WHY you need to take certain steps to help you grow your own orchids successfully.  To top that off, you can purchase orchids from the various vendors!
  </p>
  <p>
    <strong>FREE ADMISSION</strong>
    Saturday March 21  10 am - 7 pm<br>
    Sunday   March 22  10 am - 5 pm
  </p>
  <p>
    Main Street Cupertino Shopping Complex<br>
    19479 Stevens Creek Blvd. (Suite 110)<br>
    Cupertino, CA 95014<br>
    (Between N. Tantau Ave. & N. Wolfe Road)<br>
    Behind AT&amp;T building
  </p>
  <p>
  The address will lead you to Stevens Creek Blvd.  You must go inside the Main Street Cupertino shopping complex.  Once in, we are located directly behind (connected) the AT&T building.
  </p>
  <p>
    There will be lectures and demonstrations on orchids.
  </p>
  <p>
    FOR MORE INFORMATION:
  </p>
  <p>
    More info: Malihini Orchid Society<br>
    <a href="https://www.facebook.com/ORCHIDinSANJOSE/">www.facebook.com/ORCHIDinSANJOSE</a>
  </p>
  <p>
    Main Street Cupertino (for maps & parking garage)<br>
    www.mainstreetcupertino.com<br>
    CLICK on DIRECTORY to see map of Main Street Cupertino<br>
    -notice the parking garage and AT&T building<br>
    CLICK on LOCATION to see map of city/freeway & public transit<br>
    CLICK on SEE ALL EVENTS to see more information on our event<br>
  </p>
  <p>
    Demonstration Schedule for SATURDAY*
  </p>
  <p>
  1:00 pm                      How to Keep Your Cymbidium Alive & Well – Bill Weaver<br>
<br>
  2:00 pm                      Growing Orchids Indoors & Outdoors – Dave Robison/Orchid Design<br>
<br>
  3:00 pm                      How to Keep Your Phalaenopsis Happy & Blooming<br>
  (There will be free Phalaenopsis for this topic while supplies last)<br>
  </p>
  <p>
  Demonstration Schedule for SUNDAY*<br>
<br>
  1:00 pm                      How to Keep Your Cymbidium Alive & Well – Bill Weaver<br>

  2:00 pm                      How to Make an Orchid Arrangement – Angelic Nguyen/Orchid Design<br>

  3:00 pm                      How to Keep Your Phalaenopsis Happy & Blooming - Bill Weaver<br>
  </p>
  <p>
    *The FREE hands-on demonstrations will be to the right of Suite 110.  You will notice the canopies and the chairs.
  </p>
  <p>
    VENDORS<br>
<br>
• Orchid Design (orchidesign.com)<br>
• Paph Paradise (paphparadise.com)  / (Paph Paradise Orchids on Facebook)<br>
  • Asbell's Orchids (outdoor growing orchids)<br>
  . Dean Haas Orchids<br>
  • Member sales (plants from our members)<br>
  </p>
  <p>
    <a href="/sale/"><img src="img/mos2020.jpg"></a>
  </p>
  <!-- news/meeting section - comment out during sale
  <h1 class="page-heading">News</h1>

  <ul class="post-list">
    {% for post in site.categories.['news'] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Meeting</h1>

  <ul class="post-list">
    {% for post in site.categories.['meeting'] limit:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%A, %B %-d, %Y, %l:%M%p" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Events</h1>

  <ul class="post-list">
    {% for post in site.categories.['event'] reversed %}
      <li>
        <span class="post-meta">{{ post.date | date: "%A, %B %-d, %Y, %l:%M%p" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
</div>
