---
layout: default
---

<div class="home">
  <!-- add announcements here with header tags eg: <h3>Announcement</h3> -->

  
  <!-- news/meeting section -->
   <h1 class="page-heading">Meeting</h1>

  <ul class="post-list">
    {% for post in site.categories.['meeting'] limit:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%A, %B %-d, %Y, %l:%M%p" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="page-heading">News</h1>
  <h2>
    Newsletter link: <a href = "news/_posts/MOS_Obake_11_2024 final-1.pdf"> October 2024 Obake </a>
  </h2>
  <ul class="post-list">
    {% for post in site.categories.['news'] %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Events</h1>

  <ul class="post-list">
    {% for post in site.categories.['event'] reversed %}
      <li>
        <span class="post-meta">{{ post.date | date: "%A, %B %-d, %Y, %l:%M%p" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <p><a href="{{ post.url | prepend: site.baseurl }}">More...</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
