---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%A, %B %-d, %Y, %l:%M%p" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta"><strong>Location</strong>: San Jose City Hall<br>
      200 E. Santa Clara St. San Jose, CA 95112<br>
      Room #120</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
